main{
    text-align: center;
    margin-top: 150px;
    position: relative;
    margin-left: 300px;
    margin-right: 300px;
}

section{
    text-align: center;
    margin-top: 150px;
    position: relative;
    margin-left: 300px;
    margin-right: 300px;
}

div button{
    width: 111px;
    height: 48px;
    margin-left: 10px;
}
header h1{
    text-align: center;
    margin-top: 150px;
    position: relative;
    margin-left: 300px;
    margin-right: 300px;
}

header{
    text-align: end;
}

