main{
    text-align: center;
    margin-top: 150px;
    position: relative;
    margin-left: 300px;
    margin-right: 300px;
    border:solid black
}

div button{
    width: 111px;
    height: 48px;
    margin-left: 10px;
}
.timer-count{
    text-align: end;
    margin-top: -304px;
    margin-right: 18px;
}
header h3{
    text-align: end;
    margin-top: -2px;
}
